$base__color--primary: var(--base__color--primary);
$base__color--secondary: var(--base__color--secondary);
$base__color--text: var(--base__color--text);
$base__color--container-cover: var(--base__color--container-cover);

$base__color--shadow: #0006;

$base__animation-duration: 200ms;
$base__animation-duration--gradient: 300ms;
